<h1>{{action}} section</h1>

<form method="POST" action="/{{action}}" id="theForm">
  <input type="text" name="username" value="" id="username">
  <input type="password" name="password" value="" id="password">

  <p style="color: red;" id="errorBox"></p>

  <input type="submit" name="" id="submitButton" value="Submit form">
</form>
<script>
  var failedTimes = 0

  document.querySelector("#theForm").onsubmit = function (e){
    e.preventDefault()

    if (document.querySelector("#password").value.length < 8) {
      document.querySelector("#errorBox").innerHTML = "password too short!"
      failedTimes++

      if (failedTimes > 5) {
        document.querySelector("#submitButton").setAttribute("disabled", "disabled")
      }
      return
    }

    document.querySelector("#theForm").submit()
  }
</script>